*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@font-face{
    font-family: "Etna";
    src:url(/font/etna-free-font.otf)
}

body,html {
    height: 100%;
    font-family:'Noto Sans',sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/TombRaider2018.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 30px auto 0;
    max-width: 70%;
}

.logo {
    width:150px;
}

.header {
    height: 7%;
    max-width: 90%;
}

.header-btn {
    font-family: "Etna";
    font-size: 24px;
    text-decoration: none;
    border-radius: 30px;
    padding: 3px 20px 0;
    float: right;
    /* margin-top: 15px; */
    color:#fff;
    background-color: blueviolet;
    font-weight: 600;
}

.header-btn:hover{
    text-decoration: none;
    color: skyblue;
    background-color: slateblue;
}

.movie-details {
    margin: 0 auto;
    max-width: 80%;
}

.left-box {
    margin: 5% 0;
    color: white;
}

.right-box {
    margin: 5% 0;
    color: white;
    text-align: center;
}

.left-box h1 {
    max-width: 100%;
}

h1 {
    margin: 0 auto;
    max-width: 75%;
    font-family: "Etna";
    font-size: 50px;
    color: white;
}

p {
    font-size: 30px;
}

.left-box p:nth-child(2){
    margin: 10% 0;
}

.casting img {
    margin-right: 5px;
    cursor: pointer;
}

.left-box a {
    text-decoration: none;
    border-radius: 30px;
    margin: 20px 10px;
    padding: 7px 20px;
    color:#fff;
    background-color: blueviolet;
    font-weight: 600;
    display: inline-block;
}

.left-box a:hover{
    text-decoration: none;
    color: skyblue;
    background-color: slateblue;
}

.download-btn {
    border: 1px solid #fff;
    background: transparent !important;
}

.fa {
    margin: 0 5px 0 0;
}

.movie-poster {
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.series {
    max-width: 94%;
    text-align: center;
    /* display: inline-flexbox; */
}

.series img {
    cursor: pointer;
    transition: 1s;
}

.series img:hover {
    transform: translateY(-10px);
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ta-c {
    text-align: center;
}

@media only screen and (max-width:800px) {
    .header-btn{
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    .left-box a {
        margin: 15px 5px;
        padding: 3.5px 10px;
        font-size: 15px;
    }
}

@media only screen and (max-width:400px) {
    .header-btn{
        font-size: 20px;
        padding: 3px 15px 0;
    }

    h1 {
        font-size: 35px;
        max-width: 70%;
    }
}

@media only screen and (max-width:374px) {
    .header{
        height: 7%;
    }
    
    .header img {
        height: 70%;
    }

    .header-btn{
        font-size: 15px;
        padding: 3px 10px 0;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .casting img {
        width: 25%;
    }

    .left-box a {
        margin: 15px 5px;
        padding: 3.5px 10px;
        font-size: 12px;
    }
}